.twenty-w { width:20%; }
.twenty-five-w { width:25%; }
.fifty-w { width:50%; }
.seventy-five-w { width:75%; }
.eighty-w { width:80%; }
.hundred-w {width:100%; }

.five-h { height:5%; }
.ten { height:10%; ]
.fifteen-h { height:15%; }
.twenty-h { height:20%; }
.twenty-five-h { height:25%; }
.fourty-five-h { height:45%; }
.fifty-h { height:50%; }
.seventy-five-h { height:75%; }
.eighty-h { height:80%; }
