<style>
	.cells
	{
	  height: 400px;
	  display: inline;
	  overflow: auto;
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){
	    var height = $(window).height();
	    $("#changeWindowSize").css("height", height-200);
	});
</script>
<h2 style="text-align:center;">UIUC Courses</h2>

<div class="container-fluid" style="overflow:auto;">
	<div class="col-xs-6 col-md-4" id="subject">
		<div parent-dir class="list-group">
			<a select-from-list temp="subject" id="{{subject.id}}" class="list-group-item" ng-repeat="subject in subjects" ng-click="showClasses(subject.id)">
				{{subject.subject}}
			</a>
			<!-- <select-from-list></select-from-list> -->
		</div>
	</div>
	<div class="col-xs-6 col-md-4" id="courseNumber">
		<div parent-dir class="list-group" ng-show="classSelected">
			<a select-from-list temp="courseNumber" id="$index" class="list-group-item" ng-repeat="courses in courseNumbers[subjectSelected]">
				{{courses.courseNum}}
			</a>
		</div>
	</div>
	<div class="col-xs-6 col-md-4" id="filterOptions">

	</div>
</div>

