<!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">As every student in Philosophy 101 learns, nothing can force me to believe that anyone except me is conscious. This power to deny that other people have feelings is not just an academic exercise but an all-too-common vice, as we see in the long history of human cruelty.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="img/logo4.jpg" width="500" height="500" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="img/logo2.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">As long as no negative reviews and the author's. This game is expected to feature the players always. It's a great advantage of the course, or chocolate consumption the main. How to Choose protein, development and the course of revenue.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Built at home and for people at home. Don't worry. We always have your back. This is not a comment supported by our lawyers. For full legal disclosure, please visit the Terms page. All in all, we can say that, we are not gonna screw you. Holla!!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="img/logo3.png" width="300" height="300" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->