<div>
<h4>Welcome to the future of signing up for classes</h4>

<p><a href="#/ClassTablePage">ClassTable</a> has all of UIUC's current classes in a highly searchable form with the largest collection of class and professor ratings, grades, and reviews.</p>

<p>Use <a href="#/RegNow">RegNow</a> to grab these classes' elusive open seats while away from the computer.  Gone is the task of checking for your classes' statuses every hour between classes on your phone.</p>

<p><b>Development Team</b>:  Michal Szymulanski, Sam Gegg, Ethan Timm, Kurtis Houdek, Rishi Girish, Perry, Nicholas Nordeen</p>
</div>