#container_search_result {
	min-width:800px;
	max-width:90%;
	margin:0 auto;
}

#search_result {
	width:90%;
	display:inline-block;
	vertical-align:top;
	border="1";
	text-align:left;
}

.title_row {
	height:40px;
	background-color:#595959;
	color:#BFBFBF;
	padding:30px;
}

#add_buttons {
	display:inline-block;
	vertical-align:top;
	width:5%;
}