#calendar {
	position:relative;
	min-width:800px;
	max-width:90%;
	margin: 0 auto;
	text-align:left;
}

#times_column {
	position:absolute;
	width:100%;
	float:left;
}

.atime {
	height:30px;
	width:100%;
	border-style:dashed none none none;
	border-width:1px 0px 0px 0px;
}

#days_column {
	width:100%;
	height:100%;
	margin-left:50px;
	margin-right:50px;
}

#days_label {
	margin-right:50px;
	font-size:0px;
}

.aday_label {
	min-width: 14.28%;
	display: inline-block;
	vertical-align: top;
	border-style: solid;
	border-width: 0px;
	border-color: black;
	font-size: 16px;
}

#days_times {
	position:relative;
	height:480px;
	margin-right:50px;
	font-size: 0px;
}

.aday_times {
	position:relative;
	min-width: 14.28%;
	width: 14%;
	height:100%;
	display: inline-block;
	vertical-align: top;
	border-style:none solid none none;
	border-width:0px 1px 0px 0px;
	border-color:#BFBFBF;
	font-size: 16px;
}

.course_entry {
	position:absolute;
	width:100%;
	background-color:rgba(61,0,122,0.5);
	z-index:10;	
	padding:3px;
	font-size:12px;
}

.remove_button {
	float: right;
	clear:both;
	height: 16px;
	width:14px;
	font-size: 10px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	top:0;
	background-color:#454444;
	color:#B5B5B5;
	
	border-width:1px;
	border-color:#454545;
}

.remove_button:hover {
	float: right;
	height: 16px;
	width:14px;
	font-size: 10px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	top:0;
	background-color:#454444;
	color:#D1D1D1;
	border-width:1px;
	border-color:#8C8C8C;
}






























