<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Automated class registration system.">
    <meta name="author" content="Rishi Girish">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Sign In</title>

    <!-- Bootstrap core CSS -->
    <link href="static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">

  </head>

<body>
  <p>
    Regnow is a one stop tool for class organization, recommendation and registration. 

Class organization and recommendation is an essential to any student going about choosing classes. Our application makes it easier for students to filter classes based on professor ratings, credit hours and average GPA for the course. Additionally, students can plan their schedule and view how their weekly schedule would look like. All this data is scraped from the university course database as well as third-party sites RateMyProfessors.com and Koofers and stored in our private database.  

Automated class registration system that constantly checks class availability on the university registration system and it registers students who are interested in taking those courses. Students authenticate themselves using the university credentials and enter the classes that they want to register. This systems maintains a queue, for each class, of students who want to register for it. Upon availability, it pops people of the queue and automatically register them for the classes and sends them a confirmation message about it. Additionally, if users do not want to share their university credentials with us, Regnow also has a notification system that can inform the user of class availability in real time via email and sms.
  </p>
</body>
