<style>
	.changeWindowSize
	{
	  height: 400px;
	  /*display: inline;*/
	  overflow: auto;
	}
	.deletable-box-thing{
		border:1px solid #ccc; 
		border-radius:4px;
		padding:6px 12px;
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){
	    var height = $(window).height();
	    $(".changeWindowSize").css("height", height-150);
	});
</script>
<h2 style="text-align:center;">UIUC Courses</h2>

<div   class="container-fluid" >
	<div style="overflow:auto;" class="col-xs-6 col-md-4 changeWindowSize" id="subject">
		<div parent-dir class="list-group">
			<a select-from-list temp="subject" id="{{subject.id}}" class="list-group-item" ng-repeat="subject in subjects" ng-click="showClasses(subject)">
				{{subject}}
			</a>
			<!-- <select-from-list></select-from-list> -->
		</div>
	</div>
	<div style="overflow:auto;" class="col-xs-6 col-md-4 changeWindowSize" id="courseNumber">
		<div parent-dir class="list-group">
			<a select-from-list temp="courseNumber" id="$index" class="list-group-item" ng-repeat="courses in courseNumbers" ng-click="updateSelectedId(courseNumbers[$index])">
				{{courses}}
			</a>
		</div>
	</div>
	<div class="col-xs-6 col-md-4" id="filterOptions">
		<form class="form-horizontal">

			<div class="form-group">
				<label class="col-sm-4 control-label">GPA:</label>
				<div class="col-sm-8">
					<input class="form-control" placeholder="Minimum GPA">
				</div>
			 </div>
			 <div class="form-group">
				<label class="col-sm-4 control-label">Professor Rating:</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" placeholder="Minimum Professor rating">
				</div>
			 </div>
			 <div class="form-group">
				<label class="col-sm-4 control-label">Credit Hours:</label>
				<div class="col-sm-6">
					<input ng-model="hours" type="number" class="form-control" placeholder="Search specific hours">
				</div>
				<div class="col-sm-2">
					<button type="submit" class="btn btn-primary" ng-disabled="!hours || (hours<0 && hours>13)" ng-click="addCreditHours(hours)">Add</button>
				</div>
			 </div>
			 <div ng-show="searchOptions.creditHours.length != 0" ng-repeat="creditHrs in searchOptions.creditHours">
				<div class="col-sm-4"></div>
				<div class="col-sm-6" >
					<p class="deletable-box-thing">
						Credit hours: {{creditHrs}} <a class="pull-right" ng-click="removeCreditHours(creditHrs)">x</a>
					</p>
				</div>
			</div>
			<div class="col-sm-4"></div>
			<div class="col-sm-6">
				<input type="submit" class="btn btn-primary">
			</div>
		</form>
		<div class="col-sm-4"></div>
		<div class="col-sm-6">
			<button type="submit" class="btn btn-primary" ng-click="viewClass()">View Class</button>
		</div>
	</div>
</div>

