 <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="static/img/back1.jpg" alt="Generic placeholder image" width="200" height="200">
          <h2>Class Registration</h2>
          <p>Automated registration is the future of this University. We are the cornerstone of techology and we have to lead the way. Our destinies may not meet, but that is not going to diminish our resolve. Period.</p>
          <p><a class="btn btn-default" href="static/partials/404.html" role="button">View details &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="static/img/back2.jpg" alt="Generic placeholder image" width="200" height="200">
          <h2>Class Statistics</h2>
          <p>Get all the numbers you need to find the best classes for you. Easy A's to the rest. In-depth information about grade distribution and various other metrics to get you the grade you always wanted.</p>
          <p><a class="btn btn-default" href="static/partials/404.html" role="button">View details &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="static/img/back3.jpg" alt="Generic placeholder image" width="200" height="200">
          <h2>Professor Rating</h2>
          <p>But we're not going to be threatened by issues: we're going to put 'em front and center. We're gonna raise the level of public debate in this country, and let that be our legacy.</p>
          <p><a class="btn btn-default" href="static/partials/404.html" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
