<style>
  	
	.msgDiv {
		display: none;
	}
	.form-horizontal {
		max-width: 700px;
		padding: 19px 29px 29px;
		margin: 0 auto 20px;
		background-color: #fff;
		border: 1px solid #e5e5e5;
	}
</style>

<form class="form-horizontal" name="regform" novalidate>
	<h4>Please chose the classes you want to be automatically be registered for in the calendar below. Fill out you UIUC credentials:</h4>
	<div class="form-group" ng-class="{'has-error' : regform.usernetid.$invalid}">
		<label class="col-sm-3 control-label">Net Id:</label>
		<div class="col-sm-9">
			<input type="text" name="usernetid" class="form-control" ng-model="netid"  placeholder="Net Id">
		</div>		
		<label class="col-sm-3 control-label">AD Password:</label>
		<div class="col-sm-9">
			<input type="password" name="adpassword" class="form-control" ng-model="ADPassword" placeholder="AD Password">
		</div>
	 </div>
	<div class="col-sm-3"></div>
	<div class="col-sm-7">
		<button ng-disabled="regform.$invalid || validForm()" ng-click="register(netid)" class="btn btn-primary pull-left">Register</button>
	</div>

</form>

<div id='calendar'>
	<div id='times_column'>
		<div id='days_label_extension' style="height:23px; width:50px;"></div>
		<div class='atime' id='8am'>8 am<br></div>
		<div class='atime' id='9am'>9 am<br></div>
		<div class='atime' id='10am'>10 am<br></div>
		<div class='atime' id='11am'>11 am<br></div>
		<div class='atime' id='12pm'>12 pm<br></div>
		<div class='atime' id='1pm'>1 pm<br></div>
		<div class='atime' id='2pm'>2 pm<br></div>
		<div class='atime' id='3pm'>3 pm<br></div>
		<div class='atime' id='4pm'>4 pm<br></div>
		<div class='atime' id='5pm'>5 pm<br></div>
		<div class='atime' id='6pm'>6 pm<br></div>
		<div class='atime' id='7pm'>7 pm<br></div>
		<div class='atime' id='8pm'>8 pm<br></div>
		<div class='atime' id='9pm'>9 pm<br></div>
		<div class='atime' id='10pm'>10 pm<br></div>
		<div class='atime' id='11pm'>11 pm<br></div>
	</div>
	<div id='days_column' style="">
		<div id='days_label'>
			<div class='aday_label' id='sunday_label' >Sunday</div>
			<div class='aday_label' id='monday_label' >Monday</div>
			<div class='aday_label' id='tuesday_label' >Tuesday</div>
			<div class='aday_label' id='wednesday_label' >Wednesday</div>
			<div class='aday_label' id='thursday_label' >Thursday</div>
			<div class='aday_label' id='friday_label' >Friday</div>
			<div class='aday_label' id='saturday_label' >Saturday</div>
		</div>
		<div id='days_times'>
			<div class='aday_times' id='sunday_times' style="border-style:solid; border-width:0px 1px 0px 1px; border-color:#BFBFBF;">
			</div>
			<div class='aday_times' id='monday_times' >
			</div>
			<div class='aday_times' id='tuesday_times' >
			</div>
			<div class='aday_times' id='wednesday_times' >
			</div>
			<div class='aday_times' id='thursday_times' >
			</div>
			<div class='aday_times' id='friday_times' >
			</div>
			<div class='aday_times' id='saturday_times' >
			</div>
		</div>
	</div>
</div>

